<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "/app/asssets/stylesheets/style.css" %>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

  </head>
  <body>
  	<div class="container">
	  	<div id="welcome-panel">
			<h1>Ben's Car Database</h1>
	  	</div>
  		<table class="table table-striped">
		    <thead>
		      <tr>
		      	<th>Year</th>
		        <th>Make</th>
		        <th>Model</th>
		      </tr>
		    </thead>
		    <tbody>
		    </tbody>
		</table>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/app/asssets/javascripts/bootstrap.min.js"></script>
  </body>
</html>