.navbar {
	background-color: #494949;
}

.navbar-item {
	display: inline-block;
	margin-top: 10px;
	margin-left: 5px;
}

#new-car-button {
	color: #494949;
}

#home-icon, #home-icon:hover {
	color: white;
	background-color: #494949; 
}

.container {
	margin: 0px auto 0px auto;
	min-width: 500px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #E6E6E6;
}

.table td, .table th {
	text-align: center;
}

.mod-table {
	max-width: 750px;
}

.btn, .btn:visited, .btn:hover {
	color: #F7F7F7;
}

.btn-group .btn-success {
	width: 65px;
	text-align: center;
}

.car-image {
	max-width: 500px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
    display: block;
}


